{% extends 'base.html' %}

{% block content %}
<main>
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Register now!</h1>
        <p class="py-6">
          Samak chik wanni jadkan rairap raichai khongkhun daingai khuen!
        </p>
      </div>
      <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
        <div class="card-body">
          <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <fieldset class="fieldset">
              <label class="label" for="id_username">Username</label>
              <input type="text" class="input" name="username" id="id_username" placeholder="username" required />
              <label class="label" for="id_password">Password</label>
              <input type="password" class="input" name="password" id="id_password" placeholder="password" required />
              <label class="label" for="id_confirm">Confirm</label>
              <input type="password" class="input" name="confirm" id="id_confirm" placeholder="confirm" required />
              <button type="submit" class="btn btn-neutral mt-4">Register</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}